node_modules
.git
.github
.vscode
.claude
*.log
*.tgz
.DS_Store
db.sqlite
.certs
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
/auth-server
apps/docs/.vitepress/cache
apps/docs/.vitepress/dist
